@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}

html{
    font-family: "Pretendard", sans-serif;
    font-size: 10px;
}

body{
    margin:  auto;
    background-color: rgb(0, 0, 0);
}

/*링크 데코X*/
a {
    text-decoration: none;
}

/* /////////////////////////////// 몸통 /////////////////////////////// */

/*로고*/
.headerLine {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.head_index {
    position: sticky;
    width: 81vw;
}

.head_index .logoBox {
    width: 17vw;
    height:4vw;
    display: flex;
    align-items: center;
    float: left;
}

.head_index .logoBox img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#menu{
    position: relative;
    height:4vw;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu ul{
    width:20vw;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu ul li{
    list-style: none;
    user-select: none;
    padding: 6px 0px;
}

#menu ul li a{
    font-size: 1.4vw;
    font-weight: 500;
    color: white;
    transition: 0.3s;
}

.text-menu a.menuColor2 {
    color: #BDFF1D !important;
}


#menu ul li a:hover {
    color: #BDFF1D;
}



/*시작*/

.allImg {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
}

.startImg {
    width: 80vw;
    position: relative;
    margin: 10vw;
    display: flex;
    justify-content: center;
}

.startImg img {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
}

/*이미지 재조정*/

.mapInfo {
    width: 80vw;
    position: relative;
    margin: 10vw;
    display: flex;
    justify-content: center;
}

.mapInfo .mapTitleSize {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    height: 3vw;
    margin-bottom: 1vw;
}

.mapInfo .mapTitleSize img {
    width: auto;
    height: 100%;
    margin-right: 1vw;
}

.mapInfo .mapTitleSize .mapTitle {
    color: white;

    font-size: 2vw;
    font-weight: 700;
}

.mapInfo .mapContent {
    color: white;
    margin-top: 1vw;

    font-size: 1vw;
    font-weight: 500;
}

.mapInfo .mapWhere {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* /////////////////////////////// 공통 /////////////////////////////// */

.text_white{color: white;}
.text_black{color: rgb(0, 0, 0);}
.text_gray{color: rgb(44, 49, 69);}

.TW100{font-weight: 100;}
.TW200{font-weight: 200;}
.TW300{font-weight: 300;}
.TW400{font-weight: 400;}
.TW500{font-weight: 500;}
.TW600{font-weight: 600;}
.TW700{font-weight: 700;}
.TW800{font-weight: 800;}


.text_center{text-align: center;}
.text_left{text-align: left;}
.text_right{text-align: right;}

/* 푸터 */
footer{
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin: 10vw;
    align-items: center;
    justify-content: center;


    font-weight: 400;
    font-size: 0.6vw;
}

.filterB {
    filter: brightness(80%);
}